
 /* About Component */
.about-img {
  opacity: 80%;
  height: 100%;
}

.about-sub {
  border: white solid 1px;
  border-radius: 4px;
  background-color: white;
  color: #444;
  opacity: 80%;
}

.synth-icon {
  height: 150px;
}

.sp {
  height: 300px;
  opacity: none;
}

.discussion {
  border: #4444 solid 1px;
}